<!doctype html>
<html ng-app="recipes">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
<!-- 	<script src="js/ingredient.js"></script>
	<script src="js/direction.js"></script> -->
	<script src="js/recipe.js"></script>
</head>
  	<body>
		<recipe></recipe>
<!-- 	 	<div ng-controller="Ingredient">  	
		  	<ul>
		  		<li ng-repeat="ingredient in ingredients">
		  			<span>{{ingredient.amount}}</span>
		  			<span>{{ingredient.name}}</span>
		  			<button ng-click="remove()">Remove</button>
		  		</li>
		  	</ul>
		  	<form ng-submit="add()">
		  		<input type="text" ng-model="amount" placeholder="amount">
		  		<input type="text" ng-model="name" placeholder="ingredient">
		  		<button type="submit" value="add">Add</button>
		  	</form>
	 	</div>
	 	<div ng-controller="Direction">
	 		<p ng-repeat="direction in directions">
	 			{{direction.text}}
	 			<button ng-click="remove()">Remove</button>
	 		</p>
	 		<form ng-submit="add()">
	 			<textarea rows="3" cols="25" ng-model="direction" placeholder="directions"></textarea>
	 			<button type="submit" value="add">Add</button>
	 		</form>
	 	</div> -->
    </body>
</html>
