*{margin:0;padding:0;border:0;}
body{font-family:helvetica,tahoma,verdana,arial,sans-serif;font-size:.75em;text-align:left;padding:15px}
hr{height:1px;background-color:#CCC}
dd,h4{padding:0 0 5px 10px}
p{padding-bottom:5px}
section{width:350px}
